@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(255, 255, 255);
}

#page {
  overflow-x: hidden;
}

#page.toggled #sidebar {
  margin-left: -15rem;
}

#sidebar {
  background-color: #3a5984;
  min-height: 100vh;
  margin-left: 0;
  width: 15rem;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}

#sidebar header {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content {
  min-width: 0;
  width: 100%;
  width: 100%;
}

.cor {
  color: #3a5984;
}
.texto {
  color: #3a5984;
}
.color {
  color: rgb(162, 159, 163);
}
.palavra {
  color: rgb(162, 159, 163);
}

.col-15 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.palavra list-group-item list-group-item-action bg-dark h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-mainbg {
  background-color: #3a5984;
}

.ui-menu {
  width: 150px;
}
#sidebar {
  background-color: #3a5984;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reino {
  float: left;
  width: 100px;
  height: 50px;
}

.icon-wrapper {
  height: 10px;
}
